
* {
    box-sizing: border-box!important;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    /* padding: 20px; */
    /* border: 1px solid #888; */
    width: 45% ;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

button.view-detail {
    background-color: #fb5f66 !important;
    width: 300px;
    border-radius: 50px;
    height: 37px;
    /* margin-left: 40px; */
    margin-top: 6px;
    color: white;
    font-weight:400;
}   


button.view-detail2 {
    background-color: white !important;
    width: 300px;
    border-radius: 50px;
    height: 34px;
    /* margin-left: 40px; */
    margin-top: 6px;
    color:  #fb5f66 !important;
    font-weight:400;
} 


/* for tabs */

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.calci-view{
   color: #fb5f66 !important;
    /* width: 410px; */
    width: 33%;
    border-radius: 50px;
    height: 34px;
    /* margin-left: 40px; */
    margin-top: 6px;
    background-color: white;
    font-weight:700;
}

.calci-view{
    cursor: pointer;
}

#calcis {
    text-align: center;
}

#select-list{
    width:35%;
}
button.delete {
    border: 0px;
    float: right;
    font-size: 12px;
    /* border-radius: 50px; */
    font-weight: 700;
    height: 25px;
    margin-top: -3px;
    background-color: #fb5f66;
    color: white;
    font-family: Montserrat;
    margin-top:0px;
}
.notice-dismiss {
    position: absolute;
    top: -9px !important;
}

select#delete-items {
    margin-left: 972px;
    margin-top: 0px;
    /* margin-right: 1px; */
}
button:focus{
    border-color: #fb5f66;
}
button{
    outline: none;
   
}

.show {
    margin-left: 1090px;
    width: 15%;
    height: 25px;
    background-color: #fb5f66;
    font-family: Montserrat;
    color:white;
    font-size: 12px;
    font-weight: 700;
}
.active-span{
    /* color: #f6f8f9 !important; */
    background-color:#f6f8f9!important;
    /* border-color: #fb5f66 !important; */
}

.pointer-class {
    pointer-events: none;
}

#show-data {
    width: 15%  ;
    background-color: #fb5f66;
    color: white;
    height: 28px;
    border-radius: 13px;
    margin-left: -1px;
    font-weight: 600;
    font-family: Montserrat;
    outline: none;
}
#delete-data {
    width: 15%;
    background-color: #fb5f66;
    color: white;
    height: 28px;
    border-radius: 13px;
    margin-left: -1px;
    font-weight: 600;
    font-family: Montserrat;
}
#add-data {
    width: 150px;
    background-color: #fb5f66;
    color: white;
    height: 28px;
    border-radius: 8px;
}

.final_outgrow-data-button {
    width: 20%;
    background-color: #fb5f66;
    color: white;
    height: 30px;
    border-radius: 23px;
    margin-left: -9%;
    font-weight: 600;
    font-family: Montserrat;
}

input.large-text, textarea.large-text {
    /* width: 400px; */
    width: 35%;
    border-radius: 35px;
    height: 28px;
    margin-left: 23%;
    font-family: Montserrat;
    font-weight: 400;
    padding-left: 1%;
}
.main-heading{
    font-size: 36px;
    color: white;
    font-weight: 700;
    font-family: Montserrat;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
p {
    font-size: 13px;
    line-height: 1.5;
    margin: 1em 0;
}
button#final-outgrow:hover {
    cursor: pointer;
}

#show-data:hover {
    cursor: pointer;
}

#delete-data:hover {
    cursor: pointer;
}

button.modal-button {
    height: 36px;
    width: 32%;
    background-color: #fb5f66;
    color: white;
    border-radius: 16px;
    font-weight: 700;
    font-family: Montserrat;
}
.msg-copy {
    height: 35px;
    width: 70px;
    background-color: #fb5f66;
    color: white;
    font-family: Montserrat;
    font-size: 18px;
    border: 0;
    float: right;
    /* width: 100%; */
    margin-top: 10px;
    border-radius: 3px;

}

#click-copy-text {
    position: absolute;
    /* top: 84%; */
    left: 40%;
    bottom: 24px;
    font-size: 18px;
    color: #666666;
    /* font-weight: 700; */
    font-family: Montserrat;
    /* display: none; */
    font-weight: 600;
    /* float: left; */
    /* width: 100%; */
}

div#modal-content {
    position: relative;
    border-radius: 10px;
    align-content: center;
    top: 8%;
    width: 100%;
    max-width: 762px;
}
.hide{
    display: none;
}

#close:hover{
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}

#text-inside {
    width: 100%;
    font-size: 15px;
    color: #666666;
    float: left;
    border: none;
    box-shadow: none;
    overflow-y: hidden;
    height: 124px!important;
    padding: 10px;
    resize: none;
    background: #fff;
}
.get-code p {
    font-family: Montserrat;
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
}

@media only screen and (max-width: 640px) {
  
    input.large-text, textarea.large-text {
        margin-top: 2%;
        width: 96%;
        margin-left: 1%;
        font-style: #c1c1c1;
    }
    .final_outgrow-data-button {
        width: 50%;
        margin-left: 25%;
        margin-top:2%;
    }
    #show-data{
        width: 40% !important;
        margin-left: 10% !important;
        margin-top:2%;
    }
    #delete-data{
        width: 40% !important;
        /* margin-left: 25% !important; */
        margin-top:2%;
    }
    .calci-view {
        width: 100%;
        
    }
    button.view-detail {
        width: 100%;
        height: 37px;
    }
    .main-heading{
       
        font-size: 22px;
    }
    .calci-view {
        width: 32%;
    }
    button.view-detail {
        width: 99%;
        height: 22px;
    }
}




body{
    position: relative;
}
/* alertbox */
.alert {
    padding: 20px;
    z-index: 1;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 6px;
    font-family: Montserrat;
    font-size: 16px;
    border: 1px solid;
}

.closebtn {
    margin-left: 15px;
    /* color: white; */
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
#wp-content{
    position: relative;
}
.final_outgrow-data-button, .view-detail{
    border: 1px solid #fb5f66;   
}

#show-data,#delete-data{
    border: 1px solid #fb5f66;
}
.calci-view{
    border: 1px solid white; 
}


/* card css */

.calci-card-row {
    display: block;
    float: left;
    width: 25%;
    margin: 0!important;
}

  
.calci-card-col {
    float: left;
    box-sizing: border-box;
    width: 100%;
    max-width:100%;
    min-height: 260px;
    cursor: pointer;
    margin-right:0px;
    padding: 0 15px;
}
.calci-card-content {
    display: flex;
    flex-direction: column;
}

.calci-card-content {
    font-size: 14px;
    line-height: 20px;
    font-family: Montserrat;
    float: left;
    width: 100%;
    justify-content: center;
    display: flex;
    height: 60px;
}
.calci-card-content p{
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    vertical-align: middle;
    -webkit-box-orient: vertical;
    margin: 10px 0;
}
  
.card-footer {
    float: left;
    width: 100%;
    border-top: 1px solid #EEEEF3;
    background-color: #FBFBFB;
    position: absolute;
    bottom: 0;
    
}
.card-footer button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    border: 0;
    font-size: 12px;
    min-height: 40px;
    text-align: center;
    background: #fb5f66;
    color: white;
    font-family: Montserrat;
    font-weight: 700;
}

h4{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
}
/* crd css ends */

.alert-api-key {
    padding: 20px;
    z-index: 1;
    position: absolute;
    margin-top: 8%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 6px;
    font-family: Montserrat;
    font-size: 16px;
    border: 1px solid;
}

/* extra */

#get-calci-name{
    font-size: 30px;
    padding-bottom: 35px;
    font-family: Montserrat;
    padding-left: 10px;
}
.section-1-round {
    background-color: white;
    width: 62px;
    float: left;
    opacity: 1;
    border-radius: 40px;
}

.super-class {
    float: left;
    width: 100%;
   
}

.selectize-control.single{
    width: 60%!important;
    margin-left: 15%;
    border-radius: 6px!important;
}
.selectize-dropdown-content :after{
    content: "x";
    cursor: pointer;
    /* background-color: yellow; */
    /* color: red; */
    font-weight: bold;
    float: right;
}
img.icon-class {
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}
img.img-card {
    width: 100%;
    height: 180px;
}

.calci-card-body {
    float: left;
    /* width: 100%; */
    /* width: 85%; */
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    color: #555555;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
    padding: 20px;
    /* max-height: 260px;
    height: 100%; */
    padding-bottom: 0;
}

.section-1 {
    float: left;
    margin: 0 50px;
    margin-top: 102px;
}
.section-2 {
    width: calc(100% - 162px);
    float: left;
    margin-top: 70px;
}
#get-calci-name {
    font-size: 30px;
    padding-bottom: 35px;
    font-family: Montserrat;
    padding-left: 10px;
    color: #555555;
}
.modal-button-area {
    height: 45px;
    border: 1px solid;
    border-radius: 22px;
}

.modal-button {
    float: left;
    display: flex;
    align-items: center;
    border: 1px solid #d6d6d7;
    border-right: 0;
    font-size: 12px;
    cursor: pointer;
    background-color: white;
    color: #666666;
    padding: 10px 12px 10px 12px;
    margin: 0;
    font-family: Montserrat;

}
.modal-button-line {
    float: left;
}
.b1 {
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}

.b4 {
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    border-right: 1px solid #d6d6d7;
}

textarea{
    border-color: #cccccc;
}
.button-group{
    float: left;
    width: 100%;
    margin: 0;
}
span#close {
    color: white;
    top: -17px;
    right: -20px;
    position: absolute;
}
.modal-text {
    color: #fb5f66;
    /* padding: 28px 34px; */
    font-family: Montserrat;
    font-size: 24px;
    margin-bottom: 30px;
}
.get-code {
    font-size: 20px;
    float: left;
    color: #666666;
    width: 100%;
    border: 1px solid #d4d3d3;
    padding: 15px 20px;
    /* max-width: 472px; */
    position: relative;
    background: #fff;
}
.getcode-container{
    margin-left: 10px;
}

/* for upper section */

li {
    list-style-type: none;
    cursor: pointer;
    padding: 2px;
    }  

    .hide{
        display: none;
    }

    .show{
        display: block;
    }

    .text-input{
        width: 50%;
    }

    .data{
        border: 1px solid;
        border-radius: 15px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 15px;
        margin-right: 15px;
        float: left;
        /* position: absolute; */
    }

    .get-data{
        position: absolute;
    }

    .close-button{
        padding-left: 15px;
        cursor: pointer;
    }

    #main-section-option {
        float: left;
        width: 100%;
        margin-top: 4px;
    }
    
    .list-close {
        border: none;
        background: none;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin-right: 28px;
        padding: 0;
        color: rgb( 107, 107, 114 );
    }

    .option {
        font-size: 14px;
        font-family: "Montserrat";
        border: none;
        outline: none;
        cursor: pointer;
        padding: 11px 62px 10px 28px;
        color: rgb( 107, 107, 114 );
        box-shadow: none;
        background-color: #f7f7f7;
        margin: 0;
        text-align: left;
        width: 100%;
        /* position: relative;
        z-index: 999; */
    
    }
    input.option:hover {
        background: #fff;
    }
    textarea:focus, input:focus{
        outline: none!important;
    }
      
    ul.main-list {
        width: 630px;
        height: 41px;
        margin: 0 auto;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        position: relative;
        /* top: -8px; */
    }
    .list-close i.la.la-close {
        font-size: 12px;
        color: rgba( 85, 85, 85, 0.502 );
        font-weight: 600;
        z-index: 9999;
        position: relative;
    }
      
    li#api-list {
        float: left;
        width: 100%;
        padding: 0;
        margin: 0;
        /* border-radius: 14px; */
    }

    input.select-box {
       
        font-size: 16px;
        font-family: Montserrat;
        outline: none;
        float: left;
        width: 90%;
        border-color: none;
        border: none;
        border-right: 1px solid #ddd;
        padding: 14px 28px 15px 28px;
        box-shadow: none;
        color: rgb( 107, 107, 114 );
        margin: 0;
    }

      
    span.select-img {
        cursor: pointer;
        float: right;
        width: 10%;
        /* position: relative;
    top: -30px; */
        margin-top: 24px;
        text-align: center;
    }
    span.select-img i{
        font-size: 14px;
        font-family: "LineAwesome";
        color: rgb( 85, 85, 85 );
        font-weight: 700;
    }
 
      
    .main-div-section {
        /* margin-left: 15%; */
        float: left;
        width: 100%;
        margin-bottom: 50px;
      
    }
    form {
        float: left;
        width: 100%;
    }
    .main-text-area {
        width: 630px;
        height: 50px;
        margin: 0 auto;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.59);
    }
    .no-api {
        position: absolute;
        padding: 14px;
        font-family: Montserrat;
        text-align: center;
        width: calc(100% - 160px);
        margin-left: 160px;
        top: 50%;
      float: left;
    }
    .no-api p{
        font-size: 26px;
        font-weight: bold;
    }
    i#icon-la-calc, i#icon-la-quiz, #icon-la-poll {
        color: #fb5f66;
        cursor: pointer;
        font-size: 30px;
    }
    .icon-active{
        opacity: 0.5;
    }

    .align-icon:last-child {
        margin-bottom: 36px;
    }
    
    .align-icon:first-child {
        margin-top: 36px;
    }
    .align-icon {
        text-align: center;
        margin-bottom: 56px;
    }
.modal-content-view{
    background-color: #f6f8f9; 
    margin: auto;
    /* border: 1px solid #888; */
    width: 35%;
}
.main-section {
    /* margin-top: -1%; */
    float: left;
    width: 100%;
    height:234px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.41);
}
.modal-container{

    float: left;
    width: 100%;
    background: #f6f8f9;
    border-radius: 5px;
    padding: 24px;
    position: relative;
}
div#super-extra-option {
    float: left;
    width: 100%;
    padding: 30px 0px;
} 

#alert-div-1 {
    display: block;
}

#alert-div-2{
    display: block;
}

.loader-class {
    position: absolute;
    z-index: 1;
    margin-top: 30%;
    margin-left: 50%;
}
img.loader-image {
    width: 185px;
    height: 200px;
    margin-top: 40%;
}
.white-class{
    background-color: white;
}

.extra-option-button {
         /* position: relative; */
    float: left;
    border: 1px solid #d6d6d7;
    font-size: 14px;
    padding: 8px 10px;
    margin-right: 10px;
    display: relative;
    cursor: pointer;
    background-color: white;
    color: #666666;
    cursor: pointer;
    border-radius: 5px;
}

div#extra-option {
    
    float: left;
    /* margin-top: 7px; */
    width: 35%;
}
div#exit-intent {
    /* margin-top: 8px; */
    float: left;
    width: 100%;
}
.facebook-link {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
}
.super-get-code {
    float: right;
    width: 65%;
   
}
.extra-option-chat-button {
    position: relative;
    float: left;
    border: 1px solid #d6d6d7;
    font-size: 14px;
    cursor: pointer;
    padding: 20px 14px;
    background-color: white;
    color: #666666;
    border-radius: 15px;
    margin-right: 16px;
}
.extra-option-custom{
   
    float: left;
    width: 100%;
    /* border: 1px solid #d6d6d7; */
    font-size: 16px;
    display: relative;
    color: #666666;
}
input.input-dim {
    width: 40px;
    height: 25px;
    padding: 0;
    margin-left: 30px; 
    margin: 0;
    box-shadow: none;
    text-align: center;
}
.super-input-dim {
    float: left;
    margin-bottom: 4px;
    position: relative;
}
.super-dim {
    float: left;
    width: 40%;
    font-size: 12px;
    padding-top: 4px;
}
select.select-custom {
    height: 25px!important;
    color: #62696d;
    /* margin: 0; */
    vertical-align: top;
    box-shadow: none;
    /* line-height: 46px; */
    margin: 0;
    border-left: 0;
    line-height: 1;
    -webkit-appearance: none;
    padding: 0 16px 0 4px;
}
.super-input-dim::after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #32373c80;
    content: '';
    position: absolute;
    right: 5px;
    top: 10px;
}
.super-input-dim select:focus{
    border:1px solid #ddd!important;
    border-left: none!important;
}
select:focus, textarea:focus{
    border-color: transparent!important;
}
input[type=text]:focus {
    
   box-shadow:none!important;
   border-color: transparent!important;
}
.main-text-area input[type=text]:focus {
    border-right: 1px solid #ddd!important;
}
.super-input-dim input[type=text]:focus {
    border: 1px solid #ddd!important;
}
.custom-dim-head {
    margin-top: 4px;
    float: left;
    width: 100%;

}
.classic-img,.drawerl-img,.drawerr-img{
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 5px;
}

.classic-text,.drawerl-text,.drawerr-text{
    text-align: center;
    font-family: Montserrat;
    font-size: 11px;
}

.bottom-min{
    width: 25px;
    height: 25px;
}
.bottom-img {
    text-align: center;
    margin-bottom: 8px;
}
/* .text-area-enlarge{
    width: 93% !important;
} */
span.facebook-span,span.time-span {
    width: 14px;
    height: 14px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    transition: .3s ease-in;
    top: 4px;
    left:4px;
  
}
.facebook-div,.time-div {
    width: 50px;
    border-radius: 30px;
    background-color: #a8a8a8;
    position: relative;
    cursor: pointer;
    padding: 0px 0px 0px 4px;
    float: left;
}
.time-div {
    margin-left: 38px;
    padding: 1px 0px 0px 4px!important;
}
input.facebook-input-type,input.time-input-type {
    padding: 0;
    margin: 0;
}
.toggle-on{
    margin-left: 28px !important;
    
}
input.facebook-input-type{
    visibility: hidden;
}
.facebook-span:before,.time-span:before {
    content: "Off";
    color: #fff;
    font-weight: 400;
    margin-left: 23px;
    font-size: 12px;
    top: -2px;
    position: relative;
}
.facebook-span:after,.time-span:after {
    content: "On";
    color: #fff;
    font-weight: 400;
    position: absolute;
    left: -25px;
    top: -2px;
    font-size: 12px;
}
.la-question-circle{
    color:#8e989f;
}
.fb-link-text {
    float: left;
    font-size: 14px;
    color: #62696d;
    margin-right: 15px;
}
.span-fb-text {
    float: left;
    margin-right: 15px;
    position: relative;
    z-index: 99;
}
i.la.la-info-circle {
    font-size: 16px;
    color: #a9a7a7;
    font-weight: 600;
    margin-left: 4px;
   
}

.custom-active{
    border-color: #1483b6;
}

 .time-div {
   
    float: right!important;
} 
input.time-input-type{
    visibility: hidden;
}

.time-link {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.time-link-text {
    font-size: 14px;
    font-family: Montserrat;
    display: flex;
    align-items: center;
}
div#time-option {
    float: left;
    width: 100%;
    color: #62696d;
    margin-top: 20px;
}
div#set-time {
    float: left;
    font-size: 12px;
    margin-top: 6px;
}
input#timeAfter, input.dayAfter,input.exit-day-input{
    width: 42px;
    margin-left: 30px;
    height: 28px;
    margin-top: 0;
    text-align: center;
    font-size: 13px;
    padding: 0;
    box-shadow: none;
}
select#select-time-after,input#day-value,input#exit-day{
    width: 56px;
    height: 28px!important;
    margin-left: -2px;
    margin-top: 0;
    margin-bottom: 0;
    color: #62696d;
    vertical-align: top;
    font-size: 13px;
    /* padding: 0px 5px; */
    line-height: 0;
    box-shadow: none;
    background: #fff;
    text-align: center;
    
    border: 1px solid #ddd;
}
div#input-time {
    float: left;
    width: 100%;
    margin-bottom: 8px;
    display: flex;
}
#input-time input[type=radio],#exit-intent-text input[type=radio]{
    margin: 2px 4px 0 0!important;
}
#exit-intent-text{
    display: flex;
    float: left;
    width: 100%;
}
label {
    float: left;
    width: 100%;
}
input.dayAfter {
  
    margin-left: 60px!important;
   
}

div#set-time-div {
    margin-top:5px;
    margin-left: 20px;
}
div#exit-input-value {
    margin-left: 19px;
    margin-top: 6px;
}
div#input-exit {
    float: left;
}
div#exit-repeat-day {
    float: left;
}
input.exit-day-input {
    width: 43px;
    margin-left: 56px;
    height: 28px;
}

div#exit-intent {
    margin-top: 8px;
}
div#exit-input-cover {
    margin-top: 6px;
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
}
.main-div-option {
    /* position: absolute; */
    float: left;
    width: 100%;
}

#update-nag, .update-nag {
  
 margin: 0!important;
    position: fixed!important;
}
#wpcontent {
    
    padding-left:0px!important;
}


  #loader-div-class{
    display:none;position:absolute;z-index:1;margin-left:45%;margin-top:20%;
  }
  #result1{
    float: left;
    width: 100%;
    margin-left: -15px;
}

  @media (min-width:768px) and (max-width:1024px){
    .main-heading {
        margin-left: 0;
        font-size:26px; 
    }
    .main-text-area {

        width: 500px;
        height: 40px;
    
    }
    input.select-box {

        font-size: 14px;
        border-right: 1px solid #ddd;
        padding: 10px 28px;
  }
    span.select-img {
        width: 10%;
        /* top: -27px; */
        margin-top: 14px;
    }
    span.select-img i {
        font-size: 14px;
    }
    ul.main-list {
        width: 500px;
        height: 30px;
    }
    .option {
        font-size: 14px;
        padding: 5px 62px 5px 28px;
    }
    img.loader-image {
        width: 150px;
        height: 150px;
        margin-top:0;
    }
    #loader-div-class{
        margin-left:40%;
        margin-top:53%;
      }
      .section-1 {
        margin-left: 30px;
        margin-right: 24px;
        margin-top: 102px;
    }
    i#icon-la-calc, i#icon-la-quiz, #icon-la-poll {
      
        font-size: 26px;
    }
    #get-calci-name {
        font-size: 26px;
    }
    .section-2 {
        width: calc(100% - 108px);
     
    }
    .section-1-round {
        width: 50px;
    }
   
    .calci-card-row {
        display: block;
        float: left;
        width: 50%;
    }
    .calci-card-col {
        float: left;
        max-width: 100%;
        padding: 0 15px;
        margin-right: 0;
    }
    .calci-card-body{
        margin-bottom: 30px;
    }
    .list-close {
        margin-right: 20px;
    }
    .list-close i.la.la-close {
        font-size: 10px;
        
    }
    .modal-container {
        padding: 20px;
    }
    .modal-content{
        max-width: 646px!important;
    }
    span#close {
        /* margin-top: -20px; */
        top: -14px;
        right: -24px;
    }
    .button-group {
        display: flex!important;
        justify-content: center;
    }
    .modal-button {
        font-size: 10px;
        padding: 8px 11px 8px 10px;
    }
    i.la.la-info-circle {
        font-size: 14px;
    }
    .fb-link-text {
        font-size: 12px;
        margin-right: 10px;
    }
    .span-fb-text .la-2x {
        font-size: 20px;
    }
    .modal-text {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .get-code {
     padding: 10px 15px;
 }
 .msg-copy {
    height: 34px;
    width: 68px;
    font-size: 14px;
  }
  #click-copy-text {
    left: 40%;
    font-size: 16px;
    bottom: 16px;
}
#text-inside {
    font-size: 13px;
}
.extra-option-button {
    padding: 8px 7px;
    margin-right: 8px;
}
.classic-text,.drawerl-text,.drawerr-text{
    font-size: 10px;
}
.time-link-text {
    font-size: 12px;
}
.time-div {
    margin-left: 23px;
}
label {
    font-size: 12px;
}
#input-time input[type=radio], #exit-intent-text input[type=radio] {
   
    height: 14px;
    width: 14px;
    min-width: 14px;
}
input[type=radio]:checked:before {
     
    font-size: 24px;                  
    width: 6px;
    height: 6px;
    margin: 3px;
}
div#exit-input-value {
    margin-left: 19px;
    
}
div#exit-repeat-day {
    float: left;
    font-size: 11px;
}
input#timeAfter, input.dayAfter, input.exit-day-input {
    width: 32px;
    margin-left: 15px;
    height: 24px;
    font-size: 11px;
}
div#set-time {
    font-size: 11px;
}
select#select-time-after, input#day-value, input#exit-day {
   
    height: 24px!important;
    font-size: 11px;
    width: 52px;
}
input.dayAfter {
    margin-left: 43px!important;
}
.extra-option-chat-button {
    font-size: 12px;
    padding: 15px 12px;
    margin-right: 12px;
}
input.input-dim {
font-size: 12px;
}
select.select-custom{
    font-size:14px!important;
}
.no-api p{
    font-size: 18px;
}
.calci-card-content{
    font-size: 12px;
}
  }

  @media (min-width:1250px) and (max-width:1560px){
    .section-1 {
        float: left;
        width: 142px;
        margin: 0;
    }
    .section-1-round {
        margin: 102px 40px;
    }
    .section-2 {
        width: calc(100% - 142px);
    }
    #result1{
        float: left;
        width: 100%;
        margin-left: -15px;
    }
    .calci-card-row {
        display: block;
        float: left;
        width: 33.33%;
    }.calci-card-col {
        max-width: 100%; 
        margin-right: 0px;
        padding: 0 15px;
    }
}
    @media (min-width:1025px) and (max-width:1560px){
  
  .no-api p{
    font-size: 20px;
}
  }
  @media (min-width:768px) and (max-width:960px){
    .no-api {
        width: calc(100% - 36px);
        margin-left: 36px;
    }
  }

.calc{
    position: relative;
}
